@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  margin: 0;
  background-color: #e0ebeb;
}

header {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background-color: white;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #141f1f;
  color: white;
}

main {
  width: 75%;
}
aside {
  width: 22%;
}

.nav-links {
  display: flex;
  width: 170px;
  justify-content: space-between;
}
.link {
  padding: 10px 0;
}

.link:hover {
  background-color: #d9d9d9;
  color: #333333;
  cursor: pointer;
}

.main-block {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.card,
.card-first {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  margin-top: 20px;
}

.description {
  font-weight: bold;
}

.image {
  height: 300px;
  width: 300px;
  background-color: #a6a6a6;
  padding: 30px;
  margin-top: 30px;
}

.text-title {
  margin-top: 20px;
}

.text {
  margin-top: 20px;
  width: 90%;
}

.about-me {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.about-me-image {
  width: 80%;
  height: 100px;
  padding: 20px;
  background-color: #a6a6a6;
}

.about-me-text {
  margin-top: 20px;
}

.popular-post {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.popular-post-image {
  width: 80%;
  height: 100px;
  padding: 20px;
  background-color: #a6a6a6;
}

.follow-me {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

footer {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 100px;
}

@media screen and (max-width: 800px) {
  .main-block {
    flex-direction: column;
  }

  .card,
  .card-first {
    width: 100%;
    box-sizing: border-box;
  }

  aside {
    margin-top: 20px;
    width: 100%;
  }
  main {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
  }
  .link {
    display: block;
    width: 100%;
    text-align: center;
  }
}
